<div class="container col-12 col-lg-8">
  <h4>Propety Listings</h4>
  <p>See our <%= @properties.count %> (monu)rentals: </p>
  <div>
    <div class="card-deck card-container">
      <% @properties.each do |property| %>
      <div class="card">
        <%# start of carosel %>
        <div class="card-img-top">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= cl_image_tag property.photos[0].key, class:"d-block w-100", alt:"First slide" %>
                </div>
                <div class="carousel-item">
                  <%= cl_image_tag property.photos[0].key, class:"d-block w-100", alt:"Second slide" %>
                </div>
                <div class="carousel-item">
                  <%= cl_image_tag property.photos[0].key, class:"d-block w-100", alt:"Third slide" %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <%# end of carosel %>
        <%# <%= cl_image_tag property.photos[0].key, class:"card-img-top", alt:"Card image cap" %>
        <div class="card-body">
          <h5 class="card-title"> <strong><%= property.name %></strong></h5>
          <p class="card-text"><%= property.address %>, <%= property.postcode %></p>
          <p class="card-text">Available:<%= property.next_available.begin %> to <%= property.next_available.last %></p>
          <%= link_to "Show", property_path(property.id)%>
        </div>
        <div class="card-footer">
          <small class="text-muted">Rating <%= property.rating %></small>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
