<div class="container col-12 col-lg-8">
  <h4>Propety Listings</h4>
  <p>See our <%= @properties.count %> (monu)rentals: </p>
  <div>
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: properties_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
      <div class="card-deck card-container" id="properties">
      <% @properties.each do |property| %>
      <div class="card">
        <%# start of carosel %>
        <div class="card-img-top">
         <%= cl_image_tag property.photos[0].key, class:"d-block w-100 img" %>
        </div>
        <%# end of carosel %>
        <%# <%= cl_image_tag property.photos[0].key, class:"card-img-top", alt:"Card image cap" %>
        <div class="card-body">
          <h5 class="card-title"> <strong><%= property.name %></strong></h5>
          <p class="card-text"><%= property.address %>, <%= property.postcode %></p>
          <p class="card-text">Available:<%= property.next_available.begin %> to <%= property.next_available.last %></p>
          <%= link_to "Show", property_path(property.id)%>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= property.rating.present? ? "Rating: #{property.rating}" : "No Ratings Yet" %></small>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
