<div class="container col-12 col-lg-8 title">
  <div class="showheader">
    <h1><%= @property.name %></h1>
  </div>
  <div class="showimages mb-3">
    <div class="main col-6">
      <%= cl_image_tag @property.photos[0].key, :transformation=>[
  {:height=>310, :width=>370, :crop=>"fill"}], class:"img" %>
    </div>
    <div class="otherimages col-6">
      <div class="other">
        <%= cl_image_tag @property.photos[1].key, :transformation=>[
  {:height=>150, :width=>200, :crop=>"fill"}], class:"img" %>
      </div>
      <div class="other">
        <%= cl_image_tag @property.photos[2].key, :transformation=>[
  {:height=>150, :width=>200, :crop=>"fill"}], class:"img" %>
      </div>
      <div class="other">
        <%= cl_image_tag @property.photos[3].key, :transformation=>[
  {:height=>150, :width=>200, :crop=>"fill"}], class:"img" %>
      </div>
      <div class="other">
        <%= cl_image_tag @property.photos[4].key, :transformation=>[
  {:height=>150, :width=>200, :crop=>"fill"}], class:"img" %>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="col-12 col-lg-6 spacing">
      <div class="show-container info">
        <div class="owner-detail">
          <h4> Hosted by <%= @property.user.first_name %> <%= @property.user.last_name %></h4>
          <%= cl_image_tag @property.user.photo.key, class:"avatar" %>
        </div>
        <h5> Property Description </h5>
          <p><%= @property.description %></p>
        <h5> Property Amenities </h5>
        <div>
          <ul>
            <% @property.amenities.each do |a| %>
            <li><%= a %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="show-container bookings">
        <h5> Property Booking </h5>
        <div class="container">
          <p>£<%= @property.price %> per night</p>
          <%= simple_form_for [@property, @booking] do |f| %>
            <%= f.input :start, class: 'start-date', id: "start" %>
            <%= f.input :end, class: 'end-date', id: "end" %>
            <%= f.input :comment %>
            <%= f.button :submit, class: 'btn btn-primary', style:"width:100%" %>
          <% end %>
          <p> You won't be charged yet </p>
          <div class="price">
            <p>£<span id="price"><%= @property.price %></span> x <span id="date-diff">0</span> nights</p>
            <p> = £<span id="total">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class="reviews-input">
      <% avg = 0 %><% @property.reviews.each do |r| avg += r.rating end %>
      <h4> <i class="fas fa-star"></i> Reviews - <%= @property.reviews.count %> - Average Score <%= (avg / @property.reviews.count).to_f %> </h4>
      <div class="list-group show-container">
          <% @property.reviews.each do |review| %>
            <li class="list-group-item">
              <p><%= name = review.name.nil? ? "Anonomys User" : review.name %> </p>
              <p><%= review.created_at.strftime("%d/%m/%Y") %> </p>
              <small>
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </small>
              <p><%= review.content %></p>
            </li>
          <% end %>
      </div>
    </div>
    <div class="show-container">
      <%= simple_form_for [@property, @review] do |f| %>
        <%= f.input :name %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<script>
  function handlePageShow(event) {
    // Event handling code
    console.log('Page Show event triggered');
  }
  // Remove the event listener
  window.removeEventListener('pageshow', handlePageShow());
  window.addEventListener('pageshow', addingListeners());

  function addingListeners(event) {
    console.log("(re)starting event listeners")

    const startYearInput = document.querySelector('#booking_start_1i');
    const startMonthInput = document.querySelector('#booking_start_2i');
    const startDayInput = document.querySelector('#booking_start_3i');

    const endYearInput = document.querySelector('#booking_end_1i');
    const endMonthInput = document.querySelector('#booking_end_2i');
    const endDayInput = document.querySelector('#booking_end_3i');

    const price = document.querySelector('#price');
    const dateDiffdisplay = document.querySelector('#date-diff');
    const total = document.querySelector('#total');

    function timeDiff() {

      const startYear = startYearInput.value;
      const startMonth = startMonthInput.value;
      const startDay = startDayInput.value;

      const startDate = new Date(startYear, startMonth - 1, startDay);
      console.log('Start Date:', startDate);

      const endYear = endYearInput.value;
      const endMonth = endMonthInput.value;
      const endDay = endDayInput.value;

      const endDate = new Date(endYear, endMonth - 1, endDay);
      console.log('End Date:', endDate);

      // Calculate the difference in milliseconds
      const timeDiff = endDate.getTime() - startDate.getTime();

      // Convert milliseconds to days
      const daysDiff = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

      // Update Values
      dateDiffdisplay.innerHTML = daysDiff
      total.innerHTML = daysDiff * parseInt(price.innerHTML)

      console.log('Number of days between:', daysDiff);

    }

    startYearInput.addEventListener('change', timeDiff);
    startMonthInput.addEventListener('change', timeDiff);
    startDayInput.addEventListener('change', timeDiff);
    endYearInput.addEventListener('change', timeDiff);
    endMonthInput.addEventListener('change', timeDiff);
    endDayInput.addEventListener('change', timeDiff);


  }

</script>
